{$SITE_ADDRESS} {
  root * /srv/www/dist

  handle_path /api/* {
    reverse_proxy https://api.playtak.com {
      header_up Host {http.reverse_proxy.upstream.hostport}
      header_up X-Forwarded-Host {host}
      
      header_up Origin https://playtak.com
      header_up Referer https://playtak.com/

      header_down -Access-Control-Allow-Origin
      header_down -Access-Control-Allow-Methods
      header_down -Access-Control-Allow-Headers
      header_down -Access-Control-Allow-Credentials
    }
    header {
      Access-Control-Allow-Origin *
      Access-Control-Allow-Methods GET, POST, PUT, DELETE, OPTIONS
      Access-Control-Allow-Headers *
      Access-Control-Allow-Credentials true
    }
  }
  
  handle {
    try_files {path} /index.html
    file_server
  }
  tls /certs/certificate.pem /certs/key.pem
}
